<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CSD Web App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>    
    <servlet-name>    
      model.QuizServlet  
    </servlet-name>    
    <servlet-class>    
      model.QuizServlet    
    </servlet-class>    
    <init-param>    
      <param-name>question</param-name>    
      <param-value>What is WORA?</param-value>    
    </init-param>    
    <init-param>    
      <param-name>answerA</param-name>    
      <param-value>Wear Only Reinforced Acryllic</param-value>    
    </init-param>    
    <init-param>    
      <param-name>answerB</param-name>    
      <param-value>Where Old Rhinos Assemble</param-value>    
    </init-param>    
    <init-param>    
      <param-name>answerC</param-name>    
      <param-value>Write Once Run Anywhere</param-value>    
    </init-param>    
    <init-param>    
      <param-name>answerD</param-name>    
      <param-value>Walk Or Run Anywhere</param-value>    
    </init-param>    
    <init-param>    
      <param-name>correct</param-name>    
      <param-value>C</param-value>    
    </init-param>    
  </servlet>
</web-app>